.memory-main{
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.2rem;
}

.card-memory{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11rem;
    height: 15rem;
    border-radius: 5px;
    /* background-color: rgb(169, 169, 237); */
    background-color: #528fae;;
    cursor: pointer;
    transition: all .2s linear;
}

/* .card-memory:hover{
    transform: rotate3d(0, 2, 0, 90deg);
} */



.card-memory-content{
    color: black;
    font-size: 5rem;
    opacity: 0;
    cursor: pointer;
} 
